In [160]:
import csv
import pandas as pd
import os
import sys
import http.client
import ssl
import json
import datetime
import requests
import time
from datetime import timedelta, date

In [166]:
def getData(latitud, longitud):
    url = "https://us1.locationiq.com/v1/reverse.php"

    data = {
        'key': 'b3483c524735f8',
        'lat': str(latitud),
        'lon': str(longitud),
        'format': 'json'
    }

    response = requests.get(url, params=data)
    try:
        provincia = response.json()['address']['county']
        
    except:
        provincia = 'NaN'
    
    if provincia=='NaN':
        try:
            provincia = response.json()['address']['state']
            if provincia == 'Biscay':
                provincia = response.json()['address']['city']
        except:
            provincia = 'NaN'
    
    time.sleep(2)
    return provincia

In [162]:
dfIncendios = pd.read_csv('./datosIncendios.csv')
dfIncendios.head(10)

     acq_date  latitude  longitude
0  2015-01-01  43.52473   -5.73595
1  2015-01-01  43.55324   -5.90172
2  2015-01-01  43.55339   -5.90822
3  2015-01-01  43.55778   -5.90322
4  2015-01-01  42.16393   -6.92449
5  2015-01-01  42.16404   -6.93157
6  2015-01-01  43.27151   -2.95205
7  2015-01-01  43.40971   -3.83971
8  2015-01-01  43.52459   -5.72987
9  2015-01-01  40.37864   -4.21053

In [163]:
provincias=dfIncendios.head(15).apply(lambda x : getData(x.latitude, x.longitude), axis=1)

In [164]:
provincias

0               Asturias
1               Asturias
2               Asturias
3               Asturias
4                Ourense
5                Ourense
6                 Biscay
7              Cantabria
8               Asturias
9                 Madrid
10               CÃ¡ceres
11                Cuenca
12               Caceres
13    Alacant / Alicante
14                Madrid
dtype: object

In [165]:
getData(43.52473, -5.73595)

'Asturias'