In [44]:
import csv
import pandas as pd
import os
import sys

In [45]:
path = '.'

files=[]
# r=root, d=directories, f = files
for r, d, f in os.walk(path):
    for file in f:
        if '.csv' in file:
            files.append(os.path.join(r, file))

In [46]:
files

['./datos_2018.csv',
 './datos_2019.csv',
 './datosMeteo.csv',
 './datos_2017.csv',
 './datos_2016.csv',
 './datos_2015.csv']

In [47]:
headers=[
    "fecha", "indicativo", "nombre", "provincia", "altitud", 
    "tmed", "prec", "tmin", "htmin", "tmax", "htmax", "dir", 
    "velmedia", "racha", "horaracha", "sol", "presmax", "horapresmax",
    "presmin", "horapresmin"
]

In [55]:
datos2015csv = pd.read_csv("datos2015.csv", sep=":")
datos2016csv = pd.read_csv("datos2016.csv", sep=":")
datos2017csv = pd.read_csv("datos2017.csv", sep=":")
datos2018csv = pd.read_csv("datos2018.csv", sep=":")
datos2019csv = pd.read_csv("datos2019.csv", sep=":")

In [56]:
datos2018csv.head(2)

  "fecha":"indicativo":"nombre":"provincia":"altitud":"tmed":"prec":"tmin":"htmin":"tmax":"htmax":"dir":"velmedia":"racha":"horaracha":"sol":"presmax":"horapresmax":"presmin":"horapresmin"
0  2018-01-01:"4358X":"DON BENITO":"BADAJOZ":"273...
1  2018-01-01:"4220X":"PUEBLA DE DON RODRIGO":"CI...

In [50]:
combined_csv = pd.concat([datos2015csv, datos2016csv, datos2017csv, datos2018csv, datos2019csv], axis=1)
#export to csv

In [51]:
combined_csv.head()

,2016-01-01,4358X,DON BENITO,BADAJOZ,273,"14,1","9,2","8,5",03:20,"19,7",...,15:50,15,"0,8","3,3",21:00,"8,4","1000,3",10,"997,8",01
0,2016-01-01,C447A,TENERIFE NORTE AEROPUERTO,STA. CRUZ DE TENERIFE,632.0,"15,2","0,0","10,8",00:43,"19,7",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-01-01,9698U,TALARN,LLEIDA,807.0,"5,7","1,4","3,2",05:00,"8,2",...,15:30,16,"3,9","11,4",10:11,"5,5","956,5",Varias,"951,2",01
2,2016-01-01,4410X,MRIDA,BADAJOZ,228.0,"14,0","20,2","7,9",01:50,"20,0",...,15:10,15,"0,8","7,2",00:20,"982,8",10,"980,5",05,NaN
3,2016-01-01,1331A,CASTROPOL,ASTURIAS,40.0,"13,8","4,6","10,1",02:00,"17,6",...,14:40,19,"0,8","2,8",00:50,"7,7","935,8",09,"933,5",24
4,2016-01-01,1690A,OURENSE,OURENSE,143.0,"11,7","7,4","8,1",00:00,"15,3",...,15:40,09,"0,6","4,2",10:00,NaN,NaN,NaN,NaN,NaN

In [43]:
combined_csv.to_csv( "datosMeteo.csv", index=False, encoding='utf-8', sep=":")